/* Globals */

body {
    padding: 0;
    margin: 0;
}

/* Navigation */

nav {
    text-align: center;
    background-image: url("../images/wood-background.jpeg");
    background-color: #948F82;
    height: 101px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    border-bottom: 15px solid #584023;
    box-shadow: 0px 7px 10px 5px #1C1D16AA;
    color: #fff;
    text-shadow: 2px 2px #000000CC;
}

nav div {
    padding: 20px;
}

nav h1 {
    font-family: 'Aboreto', cursive;
    letter-spacing: 2px;
    font-size: 30px;
}

nav p {
    text-align: right;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

nav h1, p {
    margin: 0;
    padding: 0;
}

/* Lyrics */

.lyrics {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    background-image: url("../images/cross-background.jpeg");
    background-color: #948F82;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lyrics .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

.lyrics p {
    margin-bottom: 30px;
}

.lyrics .chorus {
    font-size: 30px;
}